@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary {
    @apply py-2 px-5 bg-violet-500 text-white font-semibold rounded-full shadow-md hover:bg-violet-700 focus:outline-none focus:ring focus:ring-violet-400 focus:ring-opacity-75;
  }

  .dashed-line {
    @apply flex-grow h-0 border-b-2 border-dashed border-[#1b1b1b] mx-2 mb-2;
  }

  .leaderboard-item {
    @apply flex items-end w-full mb-4;
  }

  .user-name {
    @apply text-4xl font-bold whitespace-nowrap overflow-hidden text-ellipsis max-w-[50%] text-[#1b1b1b];
  }

  .score-value {
    @apply text-4xl font-bold whitespace-nowrap text-[#1b1b1b];
  }

  .position {
    @apply text-4xl font-bold mr-2 text-[#1b1b1b];
  }
}

:root {color-scheme: light dark;}

body {
  background-color: transparent;
  margin: 0;
  padding: 0;
  width: 100%;
}
